@import "../src/css/bootstrap.css";
@import "../src/css/classic.css";
@import "../src/css/flexslider.css";
@import "../src/css/font-awesome.css";
@import "../src/css/fullwidth.css";
@import "../src/css/jquery.bxslider.css";
@import "../src/css/jquery.countdown.css";
@import "../src/css/jquery.fancybox-1.3.4.css";
@import "../src/css/jquery.fancybox.css";
@import "../src/css/style.css";
@import "../src/css/magnific-popup.css";
@import "../src/css/responsive.css";
@import "../src/css/settings.css";

.grid {
  display: grid;
  grid-template-columns: 585px 585px;
}

.f-about {
  height: 249.6px;
}

.mb20 {
  line-height: 1.9;
}

.editorialHero {
  position: relative;
}

.editorial-title {
  position: absolute;
  top: 38%;
  color: white;
  right: 10%;
  opacity: 0;
  transition: 0.8s;
}

.editorialHero:hover .editorial-title {
  opacity: 1;
}

.editorial-baner {
  width: 100%;
  height: 70%;
}

.grid-btn,
.list-btn {
  padding: 1px;
  font-size: 20px;
  margin: 0 10px;
  border: none;
  background-color: transparent;
}
